<h2><%=@user.name%></h2>
<p>
    <label>My Cars:</label><br>
    <%@user.cars.each do |car|%>
        <%= link_to car.make + " " + car.model, car_path(car)%><br>
    <% end %>
</p>
<p>
    
<div>
    <label>Your Group Accounts:</label><br>
    <%@user.families.each do |family|%>
    <%= link_to family.name, family_path(family)%><br>
    <% end %>
</div>
</p>
<div>
<%= link_to "Add New Car to Account", new_car_path%><br>
<%= link_to "Add New/Existing User to Account", edit_family_path(@user.family_id)%><br>
</div>
<div>
<%=link_to "Edit User", edit_user_path(@user)%><br>
<%= link_to 'Delete User', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %> 
</div>