<h1><%=@car.make + " " + @car.model%></h1>

<p></p>
<%=link_to "Edit", edit_car_path(@car)%>
<p></p>

<div>
    License Plate: <br>
    <%=@car.license_plate%>
</div>
<p></p>
<div>
    <%if @car.garage_id%>
        Location: <br>
        <%=@car.garage.name%>
    <%else%>
        Location: Not in a parking garage
    <%end%>
</div>
<p></p>
<div>
    Current Drivers:<br>
    <%@car.users.each do |user|%>
    <%= link_to user.name, user_path(user)%><br>
    <% end %>
</div>

