<!DOCTYPE html>
<html>
  <head>
    <title>Acme Parking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="layout_wrapper">
      <div class="layout_title">
        <h1>Acme Parking</h1>
      </div>
      <div class="layout_errors">
        <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
        <% end -%>
      </div><br>
      <div class="layout_yield">
        <%= yield %>
      </div>
      <div class="layout_footer">
      </div>
    </div>
  </body>
</html>
